* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
}

.board {
  padding: 1rem;
}

.board__title {
  margin-bottom: 1rem;
}

.column {
  height: 75vh;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
}

.column {
  position: relative;
}

.column__main {
  height: calc(100% - 2rem);
  overflow: auto;
}

.column__header {
  display: flex;
  justify-content: space-between;
  color: rgb(109, 109, 109);
}

.column__title {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.column__icon {
  cursor: grab;
}

.column__button {
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: none;
  color: rgb(109, 109, 109);
  cursor: pointer;
}

.column__button:hover {
  background-color: lightgrey;
  color: black;
}

.column--dragging,
.card--dragging {
  visibility: hidden;
  cursor: grabbing;
}

.card {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgb(171, 171, 171);
  cursor: pointer;
}

.card__title {
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  word-wrap: break-word;
  resize: none;
}

.card__button {
  display: block;
  padding: 0rem 0.25rem;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

@media (min-width: 600px) {
  .board {
    padding: 2rem;
  }

  .columns {
    display: flex;
  }

  .column {
    min-width: 230px;
    max-width: 230px;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
