* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
}

.board {
  padding: 1rem;
}

.board__main {
  display: flex;
}

.board__columns {
  display: flex;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.board__columns:empty {
  margin: 0;
}

.board__title {
  width: 100%;
  max-width: 100vw;
  word-break: break-all;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: -0.5rem;
  resize: none;
  cursor: text;
}

.board__title:hover {
  background-color: rgb(237, 237, 237);
}

.board__title--edit {
  border: none;
  font-weight: bold;
}

.board__title--edit:hover {
  background: none;
}

.board__button {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  background: none;
  color: rgb(109, 109, 109);
  text-wrap: nowrap;
  cursor: pointer;
}

.board__button:hover {
  border: 1px solid black;
  background-color: rgb(239, 239, 239);
  color: black;
}

.column {
  position: relative;
  min-width: 230px;
  max-width: 230px;
  height: 75vh;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  touch-action: none;
}

.column:last-of-type {
  margin-right: 0;
}

.column__main {
  height: calc(85% - 1rem);
  overflow: auto;
}

.column__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: rgb(109, 109, 109);
}

.column__title {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  word-break: break-all;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  resize: none;
  cursor: text;
}

.column__title:hover {
  background-color: lightgrey;
}

.column__title--edit {
  border: none;
  font-weight: bold;
}

.column__title--edit:hover {
  background-color: white;
}

.column-title--edit:focus {
  background: none;
}

.column__icon {
  margin-left: 1rem;
  cursor: grab;
}

.column__button {
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: none;
  color: rgb(109, 109, 109);
  cursor: pointer;
}

.column__button:hover {
  background-color: lightgrey;
  color: black;
}

.column__button--delete {
  position: relative;
  bottom: 0.25rem;
  padding: 0;
  margin-left: 0.5rem;
  color: red;
}

.column__button--delete:hover {
  background: none;
  color: red;
}

.column--dragging,
.card--dragging {
  visibility: hidden;
  cursor: grabbing;
}

.column-bin {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  height: 75vh;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(255, 230, 230);
}

.column-bin__title {
  color: rgb(185, 90, 90);
  text-transform: uppercase;
}

.column-bin__icon {
  position: relative;
  align-self: center;
  top: 25%;
  color: rgb(185, 90, 90);
  font-size: 7rem;
}

.column-bin--hover {
  background-color: rgb(255, 206, 206);
}

.column-bin--hover .column-bin__title {
  color: rgb(185, 39, 39);
}

.column-bin--hover .column-bin__icon {
  color: rgb(185, 39, 39);
}

.card {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgb(171, 171, 171);
  cursor: pointer;
  touch-action: none;
}

.card__title {
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  word-wrap: break-word;
  white-space: pre-line;
  resize: none;
}

.card__button {
  display: block;
  padding: 0rem 0.25rem;
  margin-left: auto;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.card-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card-modal {
  position: relative;
  width: 350px;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}

.card-modal__heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: grey;
  font-size: 1rem;
}

.card-modal__dropdown {
  max-width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.card-modal__option {
  position: absolute;
}

.card-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-modal__title {
  width: 100%;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem -0.5rem;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  resize: none;
}

.card-modal__title:hover {
  background-color: lightgrey;
}

.card-modal__title:focus {
  background-color: white;
}

.card-modal__error {
  margin-bottom: 1rem;
  color: rgb(221, 5, 5);
}

.card-modal__description {
  width: 100%;
  padding: 0.5rem;
  margin-left: -0.5rem;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;
  white-space: pre-line;
  resize: none;
}

.card-modal__description:hover {
  background-color: lightgrey;
}

.card-modal__description:focus {
  background-color: white;
}

.card-modal__description--empty {
  color: grey;
}

.card-modal__button {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.card-modal__info {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.card-modal__column {
  padding: 0.25rem;
  border-radius: 5px;
  background-color: lightgrey;
  color: rgb(109, 109, 109);
  text-transform: uppercase;
  font-weight: bold;
}

.card-modal__buttons {
  margin-top: 0.25rem;
}

.card-modal__buttons--create {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.card-modal__button--save {
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
  background-color: #0052cc;
  color: white;
  border-radius: 5px;
}

.card-modal__button--save:hover {
  background-color: #0042a5;
}

.card-modal__button--cancel {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

.card-modal__button--cancel:hover {
  background-color: lightgrey;
}

@media (min-width: 600px) {
  .board {
    padding: 2rem;
  }
}
